@CHARSET "UTF-8";
@import url('start/jquery-ui-1.8.4.custom.css');
@import url('highlighter/shCore.css');
@import url('highlighter/shThemeDefault.css');

body
{
	background-color: #505050;
	font-family: sans-serif;
	font-size: 10pt;
}

.corner {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#align
{
	margin: 0px auto;
	width: 800px;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: justify;
}

textarea.dform
{
	width: 400px;
	height: 300px;
	border: 2px solid #505050;
	padding: 15px;
	background-color: #A0A0A0;
	font-size: 80%;
}

form.dform { width: 300px; }

label
{
	display : block;
	margin: 10px 0;
}

input[type=text], input[type=password], select { margin-left: 10px; }

.padsmall { padding: 10px; }
.full { width: 100%; }

.centered { text-align: center; }
li { color: #505050; }
a, .ui-widget-content a 
{
	text-decoration: none;
	font-weight: bold;
	color: #0078ae;
}
a:hover, a.active { color: #6eac2c; }
h1, h2, h3 { color: #505050; }
ul code { font-family: serif; font-weight: bold; }
